body,div,p,span,a,ul,li { margin: 0; padding: 0; }
.header_tit { height: 40px; background-color: #555; line-height: 40px; }

.jssvc { color: #eee; margin-left: 100px; float: left; }
.login { width: 400px; height: 40px; background-color: #666666;float: right; margin-right: 100px; }
.login_content { float: right; margin-right: 50px; }
a { color: #222; text-decoration: none; }
a:hover { color: #669; text-decoration: none; }

.header_cont { clear: both; height: 60px; line-height: 60px; background-color: #ccc;
    position:relative; z-index: 9999; }
.header_cont>.scanToDown { margin: 5px 30px; line-height: 50px; float: left; }
.logo { float: left; }
.logo>img { height: 50px; float: left; margin: 5px 0; }
.logo>.zcw_name { font-size: 20px; float: left; margin: 0 15px; }

.search { float: right; width: 300px; height: 60px; }
nav { float: right; line-height: 60px; height: 60px;}
nav ul {float: right;}
li { list-style: none; }
nav>ul>li { float: left; width: 80px; text-align: center; }
nav>ul>li>a { clear: both; float: left; width: 80px; }
nav>ul>li:hover ul { display: block; background-color: #6666; }
nav>ul>li>ul { float: right; width: 100%; display: none; }

.l { width: 80%; }
.l>.ll { margin: 0 0 0 20px !important; }
.l>.ll .lll { width: 60px !important; margin-top: 13px; }
.l>.ll .llll { width: 100px; margin-top: 13px; }
.l>.ll .lllll { width: auto; }
/*
nav>ul>li>ul>li { margin-left: -35px; }*/
